<?xml version="1.0" encoding="UTF-8"?>
<!-- specify the Document Type Definition (DTD) of a Hibernate config file -->
<!-- DTD describes what elements a file may contain to be "valid" -->
<!-- other option for validating XML files: XSD ("XML Schema Definition") -->
<!-- an XML file may be "well-formed" without being "valid" (conforming to 
	a DTD or XSD) -->
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver.class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- convenience for development -->
		<property name="hibernate.show_sql">true</property>
		<!-- choose whether to start fresh or update existing DDL -->
		<!-- defaults to update -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- where are the mapped beans? -->
		<mapping class="com.revature.beans.Flashcard"></mapping>
		<mapping class="com.revature.beans.Topic" />
		<mapping class="com.revature.beans.StudySet" />
	</session-factory>
</hibernate-configuration>